.container {
    border: 1px solid lightslategray;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
@media screen and (max-width: 568px) {
    .container {
        display: flex;
        width: 100%;
        padding-top: 6em;
        padding-bottom: 7em;
        flex-direction: column;
    }
}