@import '../common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.fullBlock {
  min-height: 60vh;
  background-color: $bgColor;

  .contactContainer {
    flex-direction: column;
    justify-content: flex-start;

    .title {
      background-color: oldlace;
    }

    .form {
      margin-top: 20px;
      //  border: 2px solid tan;
      width: 60%;
      min-height: 250px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 10px;

      .inputClass {
        @include styleForContacts(100%, padding-box, #fff, 1px solid #ced4da,
                .25rem, #495057, block, Georgia, 1rem, 400, 1.5, .375rem .75rem);

        height: calc(1.5em + .75rem + 2px);

        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      }

      .textareaClass {
        @include styleForContacts(100%, padding-box, #fff, 1px solid #ced4da, .25rem,
                #495057, block, Georgia, 1rem, 400, 1.5, .375rem .75rem);

        min-height: 100px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      }

      .button {
        position: relative;
        display: inline-block;
        min-width: 155px;
        color: #fff;
        padding: 16px 0;
        font-family: Georgia;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        background-color: #c79864;
        border: 1px solid #c79864;
        border-radius: 4px;
        outline: none;
        -webkit-transition: all .4s ease-in-out;

        &:hover {
          background-color: #202020;
        }
      }
    }
  }
}


