@import '../../common/styles/sass/variables';

.skill {
    width: 250px;
    //background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    .icon {
        //height: 60px;
        //width: 60px;
       // background-color: black;
        font-size: 60px;
        color: $primaryColor;
    }
    .mailTitle {
        font-weight: 700;
        font-family: $TitleFontFamily;
        color: white;
        letter-spacing: 0.35em;
        line-height: 1.5;
    }
    .description {
        letter-spacing: 0.05em;
        color: #ddd;
    }
}
