@import '../common/styles/sass/variables.scss';

.skillsBlock {
    min-height: 100vh;
    background-color: $bgSecondColor;
    .skillsContainer {
        flex-direction: column;
        justify-content: flex-start;
        .skills {
            border: 1px solid;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            box-sizing: border-box;
            margin-top: 20px;

        }
    }
}


