.mainBlock {
    height: 100vh;
    background-color: rosybrown;
}

.greeting {
    width: 300px;
    background-color: lavender;
}
.font {
    font-family: "Bookman Old Style";
}
.photo{
    width: 300px;
    height: 400px;
    background-color: bisque;
}
