@import '../common/styles/sass/variables';



.mainBlock {
  .containerPhoto {
    //margin-left: 10%;
    //margin-right: 5%;
  }

  background-color: $bgColor;
  min-height: 100vh;
  display: flex;
  align-items: center;

  .Container {
    //width: 100%;
    //padding-top: 6em;
    //padding-bottom: 7em;
    //flex-wrap: wrap;
    //padding: 0 50px;
  }

  .container {
    max-width: 500px;
    //margin: 0 auto;
    //max-width: 80%;
    //padding: 5px;
    //margin-left: 5%;


    .greeting {
      color: #bfbfbf;
      letter-spacing: .025px;
      font-size: 16px;
      line-height: 1.1;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
    }

    .fullName {
      font-family: 'monument extended', Sans-serif;
      color: white;
      max-width: 100%;
      font-size: clamp(1.4rem, -0.875rem + 8.333vw, 3.5rem);
      text-transform: uppercase;
      line-height: 1em;
    }

    .body {
      color: #c79864;
      font-family: 'DM Sans', sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 28px;
      letter-spacing: .025px;
    }
  }

  .photo {
    width: 300px;
    min-height: 19em;
    background-color: #999;
  }
}

