@import '../common/styles/sass/variables';

.contentBlock {
  /*  background-color: #1f1f20;*/
  background-color: $bgColor;

  .contentContainer {
    flex-direction: column;
    justify-content: center;
    //flex-wrap: nowrap;

    .project {
      width: 100%;
      display: flex;
      //justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px;
      //max-width: 75%;
      align-items: flex-start;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}
