@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.project {
  width: 400px;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;

  .photo {
    height: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }

    .viewButton {
      width: 100%;
      max-width: 160px;
      height: 50px;
      border-radius: 25px;
      font-weight: lighter;
      font-size: 20px;
      font-family: $TitleFontFamily;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      position: relative;
      z-index: 0;
      &::after {
       content: "";
        position: absolute;
        width: 50%;
        height: 8px;
        background-color: $primaryColor;
        bottom:0;
        z-index: -1;
        transition: all 0.2s ease-in-out;
      }
      &:hover {
        text-decoration: none;
        color: #fff;
        &::after{
          width: 100%;
          height: 100%;
          transition: all 0.3s ease-in-out 0s;
        }
      }
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectName {
      color: #fff;
      @include text($TitleFontFamily, 1.5rem, 1.2, uppercase);
      letter-spacing: -.035em;
      margin: 8px 0 5px;

      &:hover {
        color: #c79864;
      }
    }

    .description {
      @include text($DescriptionFontFamily, 18px, 1.3, null);
      color: #ddd;
    }
  }
}









