@import '../common/styles/sass/variables';

.nav {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
    flex-wrap: nowrap;

    .font {
        font-family: 'DM Sans', sans-serif;
        color: #999;
        font-weight: 300;
        display: block;
        line-height: 40px;
        padding: 0 5px;
        position: relative;
        letter-spacing: .4px;
        text-decoration: none;
        &:hover {
        color: #c79864;
        }
    }
}