$textColor: #fff;
//$primaryColor: #a1a1a1;
$primaryColor: #c79864;
//$bgColor: #2a2a2a;
$bgColor: #202020;
$bgSecondColor: #333;
$TitleFontFamily: 'Jost', sans-serif;
//$DescriptionFontFamily: 'Mukta', sans-serif;
$DescriptionFontFamily: 'Jost', sans-serif;